/* :root{
    --teal: #FACD6B;
    --light-cream: #FBE5B7;
    --dusk-gray: #E0C599;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
} */

/* .navbar {
    background-color: var(--teal);

    width: 100vw;
    height: 10vh;

    position: fixed;

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 10;
}
*/
/* .title, */
.detail-card-title,
.detail-card-articles {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 900;
}
 /*
.title{
    cursor: pointer;
}

.content{
    position: relative;
    top: 10vh;

    width: 100vw;
} */

.detail-card{
    width: 100vw;
    /* height: 100%; */

    background-color: var(--light-cream);
    /* margin: 2vh 0; */

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.detail-card-title{
    padding: .5em;

    text-align: center;
}

.detail-card-articles{
    padding: 0 1em 1em 1em;

    display: flex;

    flex-direction: column;

    justify-content: space-evenly;
}

.detail-card-description{
    margin: 1em 0;

    display: flex;

    flex-direction: column;

    justify-content: space-evenly;
}

.detail-card-description > * {
    margin: .5em 0;
}

.detail-card-steps{
    padding: 0 2em;
}

.detail-img-container{
    width: 100%;
    height: 50vh;

    background-color: var(--dusk-gray);

    display: flex;

    justify-content: center;

    border: black solid 2px;
}

.detail-img{
    object-fit: cover;

    height: 100%;
    width: 100%;

    transition: transform 0.3s ease-out;
}

.detail-img:hover{
    transform: scaleX(1.05);
}

.detail-close-button {
    left: 110vw;
}

.detail-close-button.active{
    position: fixed;
    top: 15vh;
    left: 5vw;

    height: 3vh;
    width: 5vw;

    z-index: 1000;

    transition: left 0.3s ease-out;
}

@media screen and (min-width: 1080px){
    .detail-card-container{
        flex-wrap: wrap;
        flex-direction: row;
    }
}